{% extends 'main/base.html' %}
{% load static %}

{% block title %}
<h1>Curiosities</h1>
{% endblock %}


{% block content %}
<div class="curiosities-page">
    <section class="hero">
        <img src="{% static 'stickerpig.png' %}" alt="Logo" class="logo" width="100px">
            <h1>Curiosities about Pigments and Materials</h1>
            <img src="{% static 'stickerpig.png' %}" alt="Logo" class="logo" width="100px">
    </section>
    <div class="col-100">
        <div class="col-50 sinistra">
            <h2>Ultramarine blue</h2>
            <p>Ultramarine blue, a colour celebrated not only for its vivid brilliance and enduring permanence but also for its profound metaphysical resonance, carries a rich historical legacy that stretches "beyond the sea" — a direct translation from its Latin origins, ultramarinus. Revered as "the standard of quality" in fifteenth-century Italian painting by Thompson, ultramarine stands as an unparalleled blue pigment throughout history.Despite the emergence of modern synthetic blues, technical analyses reveal that European artists continued to cherish ultramarine for its unmatched vibrancy and longevity across centuries. This enduring preference underscores its status as a timeless symbol of artistic excellence and a testament to the enduring allure of its deep, celestial hue.</p>
 <img src="{% static 'IMGB_36 copia.png' %}" alt="pig1" class="left-image" width="300px">
        </div>
        <div class="col-50 destra">
            <h2>Naples Yellow</h2>
            <p>The first reference to Naples Yellow as a painting pigment dates back to ca. 1580, when the author of the
                Mariani manuscript gave a detailed dcscription of the production of 'Giallo di Vasari' (Potter's
                yellow) or lead antimonate yellow.</p> 
            <p> The literature on Naples Yellow increased steadily in the
                eighteenth century. Apparently, artists were not always aware of the synthetic origin of lead
                antimonate. According to a widespread rumour Naples Yellow was a vulcanic mineral, that
                could be found around the Vesuvius in the Bay of Naples.</p>
                <br>
                <br>
<img src="{% static 'IMGB_12 copia.png' %}" alt="pig1" class="left-image" width="300px">
        </div>
    </div>

    <div class="col-100">
        <div class="col-50 sinistra">
            <h2>Egyptian blue</h2>
            <p>Egyptian Blue is an ancient synthetic pigment, first used around 2300 BC in Egypt. Composed of calcium-copper tetrasilicate (CaCuSi4O10), it spread across the Near East, Eastern Mediterranean, and the Roman Empire over 3000 years. It was the first synthetic pigment and among the earliest materials studied using modern scientific methods, identified by Sir Humphrey Davy in Pompeii in 1814. Egyptian Blue symbolizes cultural exchange and artistic achievement, bridging ancient craftsmanship with contemporary scientific inquiry, highlighting its enduring legacy in history and art.</p>
            <img src="{% static 'IMGB_6 copia.png' %}" alt="pig1"  width="300px">
        </div>
        <div class="col-50 destra">
            <h2>Poppy Oil</h2>
            <p>Poppyseed oil (also poppy seed oil and poppy oil) is an edible oil obtained from poppy seeds (specifically seeds of Papaver somniferum, the opium poppy).
            Poppy seeds yield 45–50% oil. Like poppy seeds, poppyseed oil is highly palatable, high in vitamin E, and has no narcotic properties.</p>
            <p>The oil is sometimes used as a cooking oil; it is also used for moisturizing skin. Its primary use, however, is in the manufacture of paints, varnishes, and soaps.</p>
            <br>
            <img src="{% static 'IMGM_5 copia.png' %}" alt="pig1"  width="300px">
        </div>
    </div>

    <div class="col-100">
        <div class="col-50 sinistra">
            <h2>Arabic gum</h2>
            <p>Gum arabic is the binder in which the pigments are dispersed to make the watercolor paints, so its use in the course of making a painting is akin to using an oil painting medium containing linseed oil with oil paints. Adding gum arabic to paints will have several effects: It will slightly extend the drying time of the paint, it will make the colors seem more vibrant and transparent, and it will increase the gloss of the dried painting.</p>
            <p>You can use this substance in two ways: Add it to individual colors as you're mixing them, or add it to the water that you're mixing with your paints.</p>
            <img src="{% static 'IMGM_4 copia.png' %}" alt="pig1"  width="300px">
        </div>
        <div class="col-50 destra">
            <h2>Potter's Pink</h2>
            <p>Potter's Pink, also known as "pinkcolor" or "pink stone," has been used since the 18th century, mainly in England. It was a popular choice among watercolorists and ceramic artists due to its unique hue and stability.</p>
            <p>The soft, romantic hue of Potter's Pink has made it a favorite among artists looking to evoke a sense of nostalgia or gentleness in their work. It pairs beautifully with other colors, especially blues and greens, to create harmonious and visually pleasing compositions.</p>
            <br>
            <img src="{% static 'IMGB_10 copia.png' %}" alt="pig1"  width="300px">
        </div>
    </div>
{% endblock %}

